.login-container, .login-container * {
  color: white;
  width: 100%;
}

.login-form {
  width: 80%;
  margin: auto;
}

.login-form h2 {
  padding: 16px;
}

.login-inputs {
  padding: 10px 10px 10px 0px;
}

.login-inputs label {
  display: flex;
}
.login-inputs input {
  color: black;
}

.login-form button.btn {
  margin: 20px;
}